//font-family: 'Open Sans', sans-serif;
//font-family: 'Playfair Display', serif;

$font-main: 'Open Sans', sans-serif;
$font-exclamation: 'Playfair Display', serif;

body * {
    font-family: $font-main;
    
}

.text-dark, .card {
    color: #555555;
}

.carousel-caption .text-exclamation {
    font-family: $font-exclamation;
    font-size: 74px;
    margin-bottom: 30px;    
}

.carousel-inner, .carousel-item {
    height: 100vh;    
}
.carousel-item {
    img {
    
        height: 100%;
        object-fit: cover;
    }    
}

.carousel-caption {
    top: 50%;
    left: 50%;
    bottom: auto; //this one thing causes Ispector to show this class in <style>!? Bizarre.
    width: 70%;
    padding-bottom: 0;
    transform: translate(-50%, -50%);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card-body .text-exclamation {
    color: white;
    font-family: $font-exclamation;
    font-size: 40px;
    margin-bottom: 30px;
}

.redirections .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.invitation {
    background: #eff2f5;
    
    
    form {
        p {
            font-size: 12px;
            margin-top: 5px;
        }
        input {
            border-style: solid;
            border-width: 1px;
            border-color: #dddddd;
            padding: 5px;            
        }
        
    }
}
::placeholder {
            font-size: 14px;
            }

.invit-box ul {
    list-style-type: none;
    padding: 0;
    
    li {
        display: inline-block;
        
        a {
            color: black;
            font-size: 16px;
        }
    }
    
}




footer {
    background: #D0DBE1;
}

@media (min-width: 576px) and (max-width: 992px) {
    
    .products .list-group {
        flex-direction: row;    
    }
    
    .products .list-group-item:first-child {
        border-bottom-left-radius: .25rem;
        border-top-right-radius: 0;
    }
    
    .products .list-group-item+.list-group-item {
        border-top-width: 1px;
        border-left-width: 0;
    }
    
    .product .list-group-item:last-child {
        border-top-right-radius: .25rem;
        border-bottom-left-radius: 0;
    }

}